$ff:'Roboto', sans-serif;
$accent-dark: #50abae;
$accent: #5ecace;
$accent-light:#d4e5e6;

$accent-sec-light:#fbe3b6;
$accent-sec:#ffd98e;
$accent-sec-dark: #fccf83;


$bgc-primary: #f8f8f8;
$bgc-sec: #ffffff;

$text-primary:black;